src/xsd/map_xml.xsd

<?xml version="1.0"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="ironfist_map"
            targetNamespace="ironfist_map">

  <xs:complexType name="slot_t">
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="quantity" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="army_t">
    <xs:sequence>
      <xs:element name="slot" type="slot_t" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hero_t">
    <xs:sequence>
      <xs:element name="spellpoints" type="xs:int"/>
      <xs:element name="idx" type="xs:int"/>
      <xs:element name="ownerIdx" type="xs:int"/>
      <xs:element name="field_4" type="xs:int"/>
      <xs:element name="field_5" type="xs:int"/>
      <xs:element name="field_6" type="xs:int"/>
      <xs:element name="field_7" type="xs:int"/>
      <xs:element name="field_8" type="xs:int"/>
      <xs:element name="field_9" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="factionID" type="xs:int"/>
      <xs:element name="heroID" type="xs:int"/>
      <xs:element name="x" type="xs:int"/>
      <xs:element name="y" type="xs:int"/>
      <xs:element name="field_21" type="xs:int"/>
      <xs:element name="field_23" type="xs:int"/>
      <xs:element name="field_25" type="xs:int"/>
      <xs:element name="field_27" type="xs:int"/>
      <xs:element name="field_29" type="xs:int"/>
      <xs:element name="field_2B" type="xs:int"/>
      <xs:element name="occupiedObjType" type="xs:int"/>
      <xs:element name="occupiedObjVal" type="xs:int"/>
      <xs:element name="mobility" type="xs:int"/>
      <xs:element name="remainingMobility" type="xs:int"/>
      <xs:element name="experience" type="xs:int"/>
      <xs:element name="oldLevel" type="xs:int"/>
      <xs:element name="attack" type="xs:int"/>
      <xs:element name="defense" type="xs:int"/>
      <xs:element name="spellpower" type="xs:int"/>
      <xs:element name="knowledge" type="xs:int"/>
      <xs:element name="field_43" type="xs:int"/>
      <xs:element name="tempMoraleBonuses" type="xs:int"/>
      <xs:element name="tempLuckBonuses" type="xs:int"/>
      <xs:element name="field_46" type="xs:int"/>
      <xs:element name="gazeboesVisited" type="xs:int"/>
      <xs:element name="fortsVisited" type="xs:int"/>
      <xs:element name="witchDoctorHutsVisited" type="xs:int"/>
      <xs:element name="mercenaryCampsVisited" type="xs:int"/>
      <xs:element name="standingStonesVisited" type="xs:int"/>
      <xs:element name="treesOfKnowledgeVisited" type="xs:int"/>
      <xs:element name="xanadusVisited" type="xs:int"/>
      <xs:element name="randomSeed" type="xs:int"/>
      <xs:element name="wisdomLastOffered" type="xs:boolean"/>
      <xs:element ref="army"/>
      <xs:element name="secondarySkill" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int"/>
          <xs:attribute name="level" type="xs:int"/>
          <xs:attribute name="idx" type="xs:int"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="spell" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="artifact" minOccurs="0" maxOccurs="14">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="spell" type="xs:int" use="optional" default="-1"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="flags" type="xs:int"/>
      <xs:element name="isCaptain" type="xs:boolean"/>
      <xs:element name="field_E8" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tableElement_t">
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="type" type="xs:string" default="string"/>
  </xs:complexType>

  <xs:complexType name="table_t">
    <xs:sequence>
      <xs:element name="tableElement" type="tableElement_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="table" type="table_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="tableId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="mapVariable_t">
    <xs:sequence>
      <xs:element name="table" type="table_t" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="type" type="xs:string" default="string"/>
  </xs:complexType>

  <xs:complexType name="gamestate_t">
	<xs:sequence>
      <xs:element name="allowAIArmySharing" type="xs:int" default="1"/>
	  <xs:element name="mapWidth" type="xs:int" default="32"/>
	  <xs:element name="mapHeight" type="xs:int" default="32"/>
	  <xs:element name="gameInstanceID" type="xs:int"/>
	  <xs:element name="monthType" type="xs:int"/>
	  <xs:element name="monthTypeExtra" type="xs:int"/>
	  <xs:element name="weekType" type="xs:int"/>
	  <xs:element name="weekTypeExtra" type="xs:int"/>
	  <xs:element name="mapChangeCtr" type="xs:int"/>
	  <xs:element name="numPlayers" type="xs:int"/>
	  <xs:element name="currentPlayer" type="xs:int"/>
	  <xs:element name="numDefatedPlayers" type="xs:int"/>
	  <xs:element name="day" type="xs:int"/>
	  <xs:element name="week" type="xs:int"/>
	  <xs:element name="month" type="xs:int"/>
	  <xs:element name="numObelisks" type="xs:int"/>
	  <xs:element name="field_6395" type="xs:int"/>
	  <xs:element name="field_6396" type="xs:int"/>
	  <xs:element name="field_6397" type="xs:int"/>
	  <xs:element name="currentRumor" type="xs:string"/>
	  <xs:element name="numRumors" type="xs:int"/>
	  <xs:element name="numEvents" type="xs:int"/>
	  <xs:element name="field_657B" type="xs:int"/>
	  <xs:element name="maxMapExtra" type="xs:int"/>
	  <xs:element name="playerNames" minOccurs="6" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="name" type="xs:string"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="deadPlayers" minOccurs="6" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="playerID" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="alivePlayers" minOccurs="6" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="playerID" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="heroHireStatus" minOccurs="54" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="status" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="field_44D" type="xs:int"/>
	  <xs:element name="field_451" type="xs:int"/>
	  <xs:element name="playerHandicap" minOccurs="6" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="handicap" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="field_459" minOccurs="6" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="field_45F" minOccurs="6" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="difficulty" type="xs:int"/>
	  <xs:element name="mapFilename" type="xs:string"/>
	  <xs:element name="field_2773" minOccurs="72" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="field_27BB" minOccurs="9" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="field_60A6" minOccurs="144" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="randomArtifacts" minOccurs="103" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="artifact" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="boatBuilt" minOccurs="48" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="boat" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="obeliskVisitedMasks" minOccurs="48" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="obelisk" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="field_637D" minOccurs="24" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="rumorIndices" minOccurs="30" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="index" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="eventIndices" minOccurs="60" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="index" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="_D" minOccurs="140" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="value" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="mapRevealed" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
		  <xs:attribute name="x" type="xs:int" use="required"/>
		  <xs:attribute name="y" type="xs:int" use="required"/>
          <xs:attribute name="revealed" type="xs:int"/>
        </xs:complexType>
      </xs:element>
	  <xs:element name="mapExtra" type="mapExtra_t" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="mapExtra_t">
	  <xs:sequence>
		<xs:element name="ppMapExtra" minOccurs="0" maxOccurs="unbounded">
			<xs:complexType>
			  <xs:attribute name="id" type="xs:int" use="required"/>
			  <xs:attribute name="value" type="xs:int"/>
			</xs:complexType>
		</xs:element>
	  </xs:sequence>
   </xs:complexType>
	  
  <xs:complexType name="map_t">
    <xs:sequence>
	  <xs:element ref="gamestate" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="hero" minOccurs="0" maxOccurs="54"/>
      <xs:element ref="mapVariable" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="script" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="raw"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="map" type="map_t"/>
  <xs:element name="gamestate" type="gamestate_t"/> 
  <xs:element name="hero" type="hero_t"/>
  <xs:element name="mapVariable" type="mapVariable_t"/>
  <xs:element name="raw" type="xs:base64Binary"/>
  <xs:element name="army" type="army_t"/>
  <xs:element name="script" type="xs:string"/>
   

</xs:schema>