src/xsd/map_xml.xsd

<?xml version="1.0"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="ironfist_save"
            targetNamespace="ironfist_save">

  <xs:complexType name="slot_t">
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="quantity" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="army_t">
    <xs:sequence>
      <xs:element name="slot" type="slot_t" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hero_t">
    <xs:sequence>
      <xs:element name="spellpoints" type="xs:int"/>
      <xs:element name="idx" type="xs:int"/>
      <xs:element name="ownerIdx" type="xs:int"/>
      <xs:element name="field_4" type="xs:int"/>
      <xs:element name="field_5" type="xs:int"/>
      <xs:element name="field_6" type="xs:int"/>
      <xs:element name="field_7" type="xs:int"/>
      <xs:element name="field_8" type="xs:int"/>
      <xs:element name="field_9" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="factionID" type="xs:int"/>
      <xs:element name="heroID" type="xs:int"/>
      <xs:element name="x" type="xs:int"/>
      <xs:element name="y" type="xs:int"/>
      <xs:element name="field_21" type="xs:int"/>
      <xs:element name="field_23" type="xs:int"/>
      <xs:element name="field_25" type="xs:int"/>
      <xs:element name="field_27" type="xs:int"/>
      <xs:element name="field_29" type="xs:int"/>
      <xs:element name="field_2B" type="xs:int"/>
      <xs:element name="occupiedObjType" type="xs:int"/>
      <xs:element name="occupiedObjVal" type="xs:int"/>
      <xs:element name="mobility" type="xs:int"/>
      <xs:element name="remainingMobility" type="xs:int"/>
      <xs:element name="experience" type="xs:int"/>
      <xs:element name="oldLevel" type="xs:int"/>
      <xs:element name="attack" type="xs:int"/>
      <xs:element name="defense" type="xs:int"/>
      <xs:element name="spellpower" type="xs:int"/>
      <xs:element name="knowledge" type="xs:int"/>
      <xs:element name="field_43" type="xs:int"/>
      <xs:element name="tempMoraleBonuses" type="xs:int"/>
      <xs:element name="tempLuckBonuses" type="xs:int"/>
      <xs:element name="field_46" type="xs:int"/>
      <xs:element name="gazeboesVisited" type="xs:int"/>
      <xs:element name="fortsVisited" type="xs:int"/>
      <xs:element name="witchDoctorHutsVisited" type="xs:int"/>
      <xs:element name="mercenaryCampsVisited" type="xs:int"/>
      <xs:element name="standingStonesVisited" type="xs:int"/>
      <xs:element name="treesOfKnowledgeVisited" type="xs:int"/>
      <xs:element name="xanadusVisited" type="xs:int"/>
      <xs:element name="randomSeed" type="xs:int"/>
      <xs:element name="wisdomLastOffered" type="xs:boolean"/>
      <xs:element ref="army"/>
      <xs:element name="secondarySkill" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int"/>
          <xs:attribute name="level" type="xs:int"/>
          <xs:attribute name="idx" type="xs:int"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="spell" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="artifact" minOccurs="0" maxOccurs="14">
        <xs:complexType>
          <xs:attribute name="id" type="xs:int" use="required"/>
          <xs:attribute name="spell" type="xs:int" use="optional" default="-1"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="flags" type="xs:int"/>
      <xs:element name="isCaptain" type="xs:boolean"/>
      <xs:element name="field_E8" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tableElement_t">
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="type" type="xs:string" default="string"/>
  </xs:complexType>

  <xs:complexType name="table_t">
    <xs:sequence>
      <xs:element name="tableElement" type="tableElement_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="table" type="table_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="tableId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="mapVariable_t">
    <xs:sequence>
      <xs:element name="table" type="table_t" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="type" type="xs:string" default="string"/>
  </xs:complexType>

  <xs:complexType name="gamestate_t">
    <xs:sequence>
      <xs:element name="allowAIArmySharing" type="xs:int" default="1"/>
      <xs:element name="mapWidth" type="xs:int" default="32"/>
      <xs:element name="mapHeight" type="xs:int" default="32"/>
      <xs:element name="gameDifficulty" type="xs:int"/>
      <xs:element name="monthType" type="xs:int"/>
      <xs:element name="monthTypeExtra" type="xs:int"/>
      <xs:element name="weekType" type="xs:int"/>
      <xs:element name="weekTypeExtra" type="xs:int"/>
      <xs:element name="mapChangeCtr" type="xs:int"/>
      <xs:element name="numPlayers" type="xs:int"/>
      <xs:element name="currentPlayer" type="xs:int"/>
      <xs:element name="numDefatedPlayers" type="xs:int"/>
      <xs:element name="day" type="xs:int"/>
      <xs:element name="week" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
      <xs:element name="numObelisks" type="xs:int"/>
      <xs:element name="ultimateArtifactLocX" type="xs:int"/>
      <xs:element name="ultimateArtifactLocY" type="xs:int"/>
      <xs:element name="ultimateArtifactIdx" type="xs:int"/>
      <xs:element name="currentRumor" type="xs:string"/>
      <xs:element name="numRumors" type="xs:int"/>
      <xs:element name="numEvents" type="xs:int"/>
      <xs:element name="field_657B" type="xs:int"/>
      <xs:element name="maxMapExtra" type="xs:int"/>
      <xs:element name="playerNames" type="arrayString_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="deadPlayers" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="alivePlayers" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="heroHireStatus" type="arrayInt_t" minOccurs="54" maxOccurs="unbounded"/>
      <xs:element name="relatedToPlayerPosAndColor" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="playerHandicap" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="relatedToColorOfPlayerOrFaction" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="somePlayerCodeOr10IfMayBeHuman" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
      <xs:element name="difficulty" type="xs:int"/>
      <xs:element name="mapFilename" type="xs:string"/>
      <xs:element name="field_2773" type="arrayInt_t" minOccurs="72" maxOccurs="unbounded"/>
      <xs:element name="field_27BB" type="arrayInt_t" minOccurs="9" maxOccurs="unbounded"/>
      <xs:element name="field_60A6" type="arrayInt_t" minOccurs="144" maxOccurs="unbounded"/>
      <xs:element name="randomArtifacts" type="arrayInt_t" minOccurs="103" maxOccurs="unbounded"/>
      <xs:element name="boatBuilt" type="arrayInt_t" minOccurs="48" maxOccurs="unbounded"/>
      <xs:element name="obeliskVisitedMasks" type="arrayInt_t" minOccurs="48" maxOccurs="unbounded"/>
      <xs:element name="field_637D" type="arrayInt_t" minOccurs="24" maxOccurs="unbounded"/>
      <xs:element name="rumorIndices" type="arrayInt_t" minOccurs="30" maxOccurs="unbounded"/>
      <xs:element name="eventIndices" type="arrayInt_t" minOccurs="60" maxOccurs="unbounded"/>
      <xs:element name="_D" type="arrayInt_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mapRevealed" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="x" type="xs:int" use="required"/>
          <xs:attribute name="y" type="xs:int" use="required"/>
          <xs:attribute name="revealed" type="xs:int"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="mapHeader" type="mapHeader_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mapExtra" type="mapExtra_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="playerData" type="playerData_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="towns" type="town_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mine" type="mine_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="boat" type="boat_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="map" type="map_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="mapHeader_t">
    <xs:sequence>
      <xs:element name="field_0" type="xs:int"/>
      <xs:element name="field_4" type="xs:int"/>
      <xs:element name="width" type="xs:int"/>
      <xs:element name="height" type="xs:int"/>
      <xs:element name="numPlayers" type="xs:int"/>
      <xs:element name="minHumans" type="xs:int"/>
      <xs:element name="maxHumans" type="xs:int"/>
      <xs:element name="winConditionType" type="xs:int"/>
      <xs:element name="relatedToWinConditionType" type="xs:int"/>
      <xs:element name="allowDefeatAllVictory" type="xs:int"/>
      <xs:element name="winConditionArgumentOrLocX" type="xs:int"/>
      <xs:element name="lossConditionType" type="xs:int"/>
      <xs:element name="lossConditionArgumentOrLocX" type="xs:int"/>
      <xs:element name="field_24" type="xs:int"/>
      <xs:element name="noStartingHeroInCastle" type="xs:int"/>
      <xs:element name="winConditionArgumentOrLocY" type="xs:int"/>
      <xs:element name="field_2E" type="xs:int"/>
      <xs:element name="field_32" type="xs:int"/>
      <xs:element name="field_36" type="xs:int"/>
      <xs:element name="field_37" type="xs:int"/>
      <xs:element name="nextTownName" type="xs:int"/>
      <xs:element name="field_39" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="field_1A0" type="xs:int"/>
      <xs:element name="field_1A1" type="xs:int"/>
      <xs:element name="numRumors" type="xs:int"/>
      <xs:element name="numEvents" type="xs:int"/>
      <xs:element name="hasPlayer" type="arrayInt_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="playerMayBeHuman" type="arrayInt_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="playerMayBeComp" type="arrayInt_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="playerFactions" type="arrayInt_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="map_t">
   <xs:sequence>
      <xs:element name="width" type="xs:int"/>
      <xs:element name="height" type="xs:int"/>
      <xs:element name="numCellExtras" type="xs:int"/>    
      <xs:element name="mapCell" type="mapCell_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mapCellExtra" type="mapCellExtra_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="mapCellExtra_t">
    <xs:attribute name="nextIdx" type="xs:int" use="required"/>
    <xs:attribute name="animatedObject" type="xs:int" use="required"/>
    <xs:attribute name="objTileset" type="xs:int" use="required"/>
    <xs:attribute name="objectIndex" type="xs:int" use="required"/>
    <xs:attribute name="field_4_1" type="xs:int" use="required"/>
    <xs:attribute name="field_4_2" type="xs:int" use="required"/>
    <xs:attribute name="field_4_3" type="xs:int" use="required"/>
    <xs:attribute name="field_4_4" type="xs:int" use="required"/>
    <xs:attribute name="animatedLateOverlay" type="xs:int" use="required"/>
    <xs:attribute name="hasLateOverlay" type="xs:int" use="required"/>
    <xs:attribute name="tileset" type="xs:int" use="required"/>
    <xs:attribute name="overlayIndex" type="xs:int" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="mapCell_t">
    <xs:attribute name="groundIndex" type="xs:int" use="required"/>
    <xs:attribute name="hasObject" type="xs:int" use="required"/>
    <xs:attribute name="isRoad" type="xs:int" use="required"/>
    <xs:attribute name="objTileset" type="xs:int" use="required"/>
    <xs:attribute name="objectIndex" type="xs:int" use="required"/>
    <xs:attribute name="field_4_1" type="xs:int" use="required"/>
    <xs:attribute name="isShadow" type="xs:int" use="required"/>
    <xs:attribute name="field_4_3" type="xs:int" use="required"/>
    <xs:attribute name="extraInfo" type="xs:int" use="required"/>
    <xs:attribute name="hasOverlay" type="xs:int" use="required"/>
    <xs:attribute name="hasLateOverlay" type="xs:int" use="required"/>
    <xs:attribute name="overlayTileset" type="xs:int" use="required"/>
    <xs:attribute name="overlayIndex" type="xs:int" use="required"/>
    <xs:attribute name="displayFlags" type="xs:int" use="required"/>
    <xs:attribute name="objType" type="xs:int" use="required"/>
    <xs:attribute name="extraIdx" type="xs:int" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="mine_t">
    <xs:attribute name="field_0" type="xs:int" use="required"/>
    <xs:attribute name="owner" type="xs:int" use="required"/>
    <xs:attribute name="type" type="xs:int" use="required"/>
    <xs:attribute name="guardianType" type="xs:int" use="required"/>
    <xs:attribute name="guardianQty" type="xs:int" use="required"/>
    <xs:attribute name="x" type="xs:int" use="required"/>
    <xs:attribute name="y" type="xs:int" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="boat_t">
    <xs:attribute name="idx" type="xs:int" use="required"/>
    <xs:attribute name="x" type="xs:int" use="required"/>
    <xs:attribute name="y" type="xs:int" use="required"/>
    <xs:attribute name="field_3" type="xs:int" use="required"/>
    <xs:attribute name="underlyingObjType" type="xs:int" use="required"/>
    <xs:attribute name="underlyingObjExtra" type="xs:int" use="required"/>
    <xs:attribute name="field_6" type="xs:int" use="required"/>
    <xs:attribute name="owner" type="xs:int" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="armyGroup_t">
    <xs:sequence>
      <xs:element name="creature" minOccurs="5" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" type="xs:int" use="required"/>
          <xs:attribute name="quantity" type="xs:int" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="town_t">
    <xs:sequence>
      <xs:element name="idx" type="xs:int"/>
      <xs:element name="ownerIdx" type="xs:int"/>
      <xs:element name="alignment" type="xs:int"/>
      <xs:element name="factionID" type="xs:int"/>
      <xs:element name="x" type="xs:int"/>
      <xs:element name="y" type="xs:int"/>
      <xs:element name="buildDockRelated" type="xs:int"/>
      <xs:element name="field_7" type="xs:int"/>
      <xs:element name="visitingHeroIdx" type="xs:int"/>
      <xs:element name="buildingsBuiltFlags" type="xs:int"/>
      <xs:element name="mageGuildLevel" type="xs:int"/>
      <xs:element name="field_1D" type="xs:int"/>
      <xs:element name="exists" type="xs:int"/>
      <xs:element name="mayNotBeUpgradedToCastle" type="xs:int"/>
      <xs:element name="field_38" type="xs:int"/>
      <xs:element name="playerPos" type="xs:int"/>
      <xs:element name="extraIdx" type="xs:int"/>
      <xs:element name="field_55" type="xs:int"/>
      <xs:element name="field_63" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="garrison" type="armyGroup_t" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="numCreaturesInDwelling" type="arrayInt_t" minOccurs="12" maxOccurs="unbounded"/>
      <xs:element name="mageGuildSpells" type="arrayInt_t" minOccurs="20" maxOccurs="unbounded"/>
      <xs:element name="numSpellsOfLevel" type="arrayInt_t" minOccurs="5" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="playerData_t">
    <xs:sequence>
      <xs:element name="color" type="xs:int"/>
      <xs:element name="numHeroes" type="xs:int"/>
      <xs:element name="curHeroIdx" type="xs:int"/>
      <xs:element name="relatedToSomeSortOfHeroCountOrIdx" type="xs:int"/>
      <xs:element name="game_B" type="xs:int"/>
      <xs:element name="_3" type="xs:int"/>
      <xs:element name="personality" type="xs:int"/>
      <xs:element name="_2" type="xs:int"/>
      <xs:element name="hasEvilFaction" type="xs:int"/>
      <xs:element name="field_40" type="xs:int"/>
      <xs:element name="field_41" type="xs:int"/>
      <xs:element name="daysLeftWithoutCastle" type="xs:int"/>
      <xs:element name="numCastles" type="xs:int"/>
      <xs:element name="field_45" type="xs:int"/>
      <xs:element name="barrierTentsVisited" type="xs:int"/>
      <xs:element name="heroesOwned" type="arrayInt_t" minOccurs="8" maxOccurs="unbounded"/>
      <xs:element name="heroesForPurchase" type="arrayInt_t" minOccurs="2" maxOccurs="unbounded"/>
      <xs:element name="castlesOwned" type="arrayInt_t" minOccurs="72" maxOccurs="unbounded"/>
      <xs:element name="resources" type="arrayInt_t" minOccurs="7" maxOccurs="unbounded"/>
      <xs:element name="field_E7" type="arrayInt_t" minOccurs="7" maxOccurs="unbounded"/>
      <xs:element name="_4_2" type="arrayInt_t" minOccurs="6" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="mapExtra_t">
    <xs:sequence>
      <xs:element name="ppMapExtra" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="mapExtraIndex" type="xs:int"/>
          <xs:attribute name="value" type="xs:byte"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
      
  <xs:complexType name="save_t">
    <xs:sequence>
      <xs:element ref="gamestate" minOccurs="0" maxOccurs="1"/> 
      <xs:element ref="hero" minOccurs="0" maxOccurs="54"/>
      <xs:element ref="mapVariable" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="script" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arrayInt_t">
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="arrayString_t">
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:element name="save" type="save_t"/>
  <xs:element name="gamestate" type="gamestate_t"/> 
  <xs:element name="hero" type="hero_t"/>
  <xs:element name="mapVariable" type="mapVariable_t"/>
  <xs:element name="raw" type="xs:base64Binary"/>
  <xs:element name="army" type="army_t"/>
  <xs:element name="script" type="xs:string"/>

</xs:schema>